.videoItem {
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #33333F;
    /* padding-left: 10px;
    padding-right: 10px; */
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 5px;
    
}

.videoItem video {
    position: inherit;
    z-index: -1;
    border-radius: 25px;
}

/* add video item icon */
.addVideo {
    margin-left: 92%;
    position: relative;
    z-index: 2;
    /* margin-top: -10px; */
    margin-bottom: -10%;
    cursor: pointer;
    }

    .deleteVideo {
        /* margin-left: 200px; */
        margin-left: 92%;
        /* margin-top: -20%; */
       
        position: relative;
        z-index: 2;
        margin-top: -40px;
        cursor: pointer;
        }