.white {
    color: var(--white);
}

.white h2 {
    color: var(--white);
}

.white svg {
    stroke: var(--white);
}

.form {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
}


.buttons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.apply {
    width: 50%;
}

.reset {
    width: 50%;
}
