.editor {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 100px 1200px;
}

.leftMenu {
    height: 100vh;
    width: 100px;
    border-top-right-radius: 65px;
    background-color: #383A47;
    padding-top: 20px;
    text-align: center;
}

.leftMenu nav {
    padding-top: 30px;
}

.leftMenu p:hover {
    color: var(--white);
}

.leftMenu p {
   cursor: pointer;
   color: var(--white);
}

.leftMenu img {
   cursor: pointer;
}

.header {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
    padding-top: 20px;
}

.logo {
    width: 218px;
    font-size: 30px;
    color: #169FFD;
    font-family: var(--font-family);
} 

.name {
    color: var(--white);
}

.profile {
	/* grid-area: profile; */
}

.profile {
	display: flex;
	/* align-items: center; */
	gap: 32px;
    /* position: absolute; */
}



.uploadMedia {

    width: 218px;
    height: 85vh;
    background-color: #383A47;
    position: relative;
    margin-top: -85vh;
    margin-left: 100px;
}

.uploadButton {
    text-align: center;
    background-color: #169FFD;
    color: var(--white);
    width: 80%;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.uploadFile {
    text-align: center;
    padding-top: 10px;
}

.dragMedia {

    height: 70vh;
    border: 3px dotted #F4F4F440;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.dragMedia p {
    color: var(--white);
}

.closeMediaMenu {
    cursor: pointer;
    height: 80px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: -40vh;
} 

.uploadFile p {
    color: var(--white);
    text-align: left;
    padding-left: 20px;
}

.uploadFile video {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    width: 218px;
    height: auto;
}