.mainDiv {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  background-color: black;
}

.timeline {
  height: 20rem;
  width: 100%;
}

.editor {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 100px calc(100% - 100px);
}

.icons svg path:hover {
  /* stroke: black !important; */
}

.icons svg {
  margin-left: 3px;
  margin-right: 3px;
}

.icons svg path {
  stroke: var(--white);
  font-weight: bold;
}

.leftMenu {
  height: 100vh;
  /* width: 100px; */
  width: 100%;
  border-top-right-radius: 65px;
  background-color: #383a47;
  padding-top: 20px;
  text-align: center;
}

.leftMenu nav {
  padding-top: 30px;
}



.leftMenu svg {
  cursor: pointer;
}

.leftMenu svg:hover {
 color: var(--white);
}




.white svg path {
  stroke: var(--white);
}

.white p {
  color: var(--white);
}

.gray svg path {
  stroke: gray;
}

.gray p {
  color: gray;
}

.headerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100%;
}

.header {
  width: 100%;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
  padding-top: 20px;
  padding-right: 44px;
}

.logo {
  /* width: 218px; */
  width: 18%;
  font-size: 30px;
  color: #169ffd;
  font-family: var(--font-family);
}

.header input[type="text"] {
  background-color: transparent;
  color: var(--white);
  border: none;
  font-size: 16px;
  text-align: center;
}

.header input[type="text"]:active,
.header input[type="text"]:hover,
.header input[type="text"]:focus {
  outline: 0;
  outline-offset: 0;
}

.name {
  color: var(--white);
  padding-left: 100px;
}



.profile {
  display: flex;
  /* align-items: center; */
  width: 350px;
  gap: 32px;

  /* position: absolute; */
}









.videoEditorWindow {
  display: flex;
  flex-direction: column;

  text-align: center;

  align-items: center;
}



.videoPlayer {
  width: 35%;
  height: 45vh;
  margin-top: -80vh;
  margin-left: 10%;
  border-radius: 10px;
  /* margin-top: 25vh; */
  /* margin-top: -80vh; */
  background-color: #383a47;
  /* border: 1px solid gray; */

  /* margin-top: 20vh; */
}

.innerPlayer {
  background: white !important;
  width: 100%;
  height: 100%;
  /* width: 55%;
  height: 50vh;
margin-top: -80vh;
margin-left: 10%;
  border-radius: 10px; */
}


.steps {
  display: flex;
  background-color: #383a47;
  width: 30%;
  height: 85vh;
  padding-left: 100px;
  margin-top: -85vh;

  color: var(--white);
}

.create_steps {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 10px;
  text-align: center;

}

.add_button {
  background-color: transparent;
  color: var(--white);
  border: 1px dotted #169FFD;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 14px;
}

.generate_button {
  background-color: #169FFD;
  color: var(--white);
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 14px;
}

.subtitles {
  float: right;
  width: 25%;
  height: 85vh;
  margin-top: -85vh;
  background-color: #383a47;
  color: var(--white);
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
}

.subtitles p {
  padding-bottom: 5px;
}
