.userMenu {
    position: absolute;
    right: 0;
/* float: right; */

/* width: 250px; */

/* width: 18vw; */
width: 240px;

/* margin-right: 35px; */
border: 0.1px solid gray;
border-radius: 10px;
margin-top: 130px;
/* margin-right: 7%; */
/* margin-right: 20px; */
margin-left: 10px;

background-color: #383A47;
z-index: 15;
}

.userMenu ul li {
    /* padding-left: 20px; */
}

.userMenu ul {
    list-style: none;
}

.userMenu ul li{
    color: white !important;
    /* font-weight: bold; */
    text-decoration: none;
    /* padding-left: 40px; */
    padding-top: 10px;
    padding-bottom: 10px;
}

.userMenu ul li span {
    cursor: pointer;
}