.project {
	display: flex;
	flex-direction: column;
	gap: 3%;

	/* width: 200px;
	height: 250px; */

	width: 15vw;
	height: 25vh;

	flex-shrink: 0;
	border-radius: 10px;
	background: #383A47;
	/* margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px; */
	color: var(--white);
}

.project:hover {
	/* cursor: pointer; */
}

.projectCover {
	display: flex;
	align-items: center;
	justify-content: center;
	/* margin-top: -10px; */
}

.projectCover img {
	/* width: 200px;
	height: 150px; */

	width: 13vw;
	height: 18vh;
	/* margin-top: 2vh; */
}

.projectCover svg {
	position: absolute;
	cursor: pointer;
	
}






.projectTitle {
	/* text-align: left; */
	/* margin-left: 14px; */
	font-size: 14px;
}

.menu {
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.projectCreated {
	font-size: 12px;
	margin-left: 1vw;
}

.dateAndTitle {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.title {
	margin-left: 1vw;
	font-size: 13px;
}
