.students {
    /* font-family: arial, sans-serif; */
    border-collapse: collapse;
    width: 100%;
    padding-top: 20px;
  }

  .students td, .students th {
    color: var(--white);
    font-size: 14px;
    text-align: left;
    padding: 18px;
    border-bottom: 1px solid gray;
  }

  .addStudent {
    cursor: pointer;
  }

  .addStudentButton {
    color: var(--white);
    font-size: 16px;
    background-color: #169FFDBF;
    float: right;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
  }

  @media(min-width: 1199px) {
    .addStudentButton {
        margin-top: 15px;
        margin-right: 30px;
    }

    .students {
        padding-top: 50px;
    }
  }