.header {
  border-bottom-color: #f8f9fa;
  display: contents;
}

.header > div {
  background-color: var(--background-color);
  padding: 18px;
  color: var(--white);
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}

.students {
  display: grid;
  width: 100%;
  overflow: auto;
  margin-top: 20px;
}

.list {
  display: grid;
  grid-template-columns:
    minmax(200px, 1fr)
    minmax(150px, 1fr)
    minmax(80px, 1fr)
    minmax(80px, 1fr)
    40px;
  gap: 0px;
  justify-content: center;
}

.buttonArea {
  display: grid;
  justify-content: right;
  margin-top: 20px;
}
