.adminInfo {
    padding-top: 20px;
    display: flex;
    position: absolute;
}

.profilePic {
    width: 216px;
    height: 216px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(244, 244, 244, 0.75);
    border-radius: 10px;
}

.avatar {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color: #EBEBEB;
}

.avatar img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color: #EBEBEB;
}

.edit {
    margin-top: 150px;
    margin-right: -30px;
    width: 24px;
    height: 24px;
}

.userCard {
    display: flex;
}


.infos {
    /* background: #f2f2f2; */
    /* color: #616161; */
    /* font-size: 12px; */
   margin-left: 30px;
}

.infos h3 {
    font-size: 18px;
    color: var(--white);
}

.infos hr {
  width: 220px;
}

.infos_inner {
   max-width: 1100px;
    /* max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 180px;
    align-items: flex-start;
    justify-content: space-between;
}

.change button {
    display: block;
   /* float: right;
   float: right; */
   color: var(--white);
   font-size: 16px;
   background-color: transparent;
   border-radius: 25px;
   border: 1px solid rgba(255, 255, 255, 1);
   padding: 10px 20px;
   margin-top: 50px;
   /* margin-left: 300px; */
   cursor: pointer;
}

.change{
    padding-left: 140px;
}

/* .delete {
    display: inline;
}

.delete img {
    display: block;
} */
.delete img {
    padding-right: 5px;
}
.delete{
  
    display: flex;
/* margin-left: -135px; */
    /* position: inherit;
    z-index: 9999; */
    /* float: right; */
    padding-top: 420px;
    /* z-index: 9999; */
    /* display: block; */
    /* position: absolute;
    bottom: 0;
    right: 0; */
    /* margin-top: 100px; */
    /* padding-top: 400px; */
    /* flex-direction: row;
    justify-content: end; */
    align-items: center; 
    justify-content: emd;
    /* float: right; */
    padding-left: 85%;
    /* float: right; */
 /* justify-content: end; */
 /* padding-left: 80px; */
 /* float: right; */
    /* justify-content: end;



float: right;
padding-top: 120px;
/* margin-left: 100px; */

}



.delete span{
    width: 150px;
    color: rgba(255, 101, 82, 1);
    font-size: 14px;
    cursor: pointer;
}


.profileItem {
    padding-top: 20px;
    padding-bottom: 10px;
}

.profileItem p {
   padding-bottom: 10px;
}

.white {
    color: var(--white);
}


.rectangle img {
    width: 169px;
    height: 51px;
    float: left;
    margin-top: 10px;
}

.userPhoto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rectangle {
    position: relative;
}

.rectangle img {
    z-index: 19;
}
.rectangle p {

    z-index: 20;
    padding: 0;
    margin: 0;
    position: inherit;
    margin-top: -10px;
    
}

.userRole {
    text-align: center;
    color: var(--white);
    position: relative;
    padding: 0;
    /* padding-top: -17px; */
}