.stick {
  position: absolute;
  top: 0;
  transform: translateX(-30%);
  width: 2px;
  height: 70vh;
  background-color: #ffffff;
}

.icon {
  position: absolute;
  transform: translateX(-50%);
  fill: #ffffff;
}

.playhead {

  z-index: -1;
  width: 10;
  height: 20vh;
  /* background-color: #000 !important; */
}
