.timeline {
  
  /* width: calc(100wv - 12wv); */
  width: 91%;
  /* width: 100%; */

  /* width: 100%; */
  /* z-index: 33333; */
 /* padding-top: 10px; */
  /* height: 15vh; */
  /* margin-top: -10vh; */
  /* overflow: hidden; */
  /* overflow-y: auto; */
  /* overflow-x: auto; */
  background-color: transparent;
  /* z-index: -1; */
  /* margin-top: -30px; */
  height: 30vh;
  /* margin-bottom: -20px; */

/* z-index: 2; */

position: relative;
overflow: hidden;

}

.playheadWrapper {
  position: relative;
}

.wrapper {
  display: flex;
 
/* width: 91%; */
/* width: 100%;
z-index: -3; */

}

.beforeZero {
  position: relative;
  width: 40px;
  flex: 0 0 auto;
 
}

.afterZeroWrapper {
  position: relative;
  /* height: 5%; */
  height: 100%;
  flex: 1;

}

.canvasWrapper {
  color: white;
  font-size: 0.875rem;
  height: 200px;
  position: absolute;
  /* top: 0; */
 /* padding-top: 50px; */
 /* margin-top: -3px; */
 /* margin-top: -1vh; */
  width: 100vw;
overflow-y: auto;
overflow-x: auto;
z-index: 1;
margin-left: 0;
margin-right: 0;
  /* width: 100wv; */
/* z-index: -1; */
/* overflow-y: auto; */

}

.scrollArea1 {
  pointer-events: none;
  height: 10px;
}

.scrollArea2 {
  pointer-events: none;
  width: 10px;
}
