.timeline {
  
  width: calc(100% - 90px);
  /* width: 100%; */

  /* width: 100%; */
  /* z-index: 33333; */
 /* padding-top: 10px; */
  /* height: 15vh; */
  /* margin-top: -10vh; */
  /* overflow: hidden; */
  /* overflow-y: auto; */
  /* overflow-x: auto; */
  background-color: transparent;
  /* z-index: -1; */
  /* margin-top: -30px; */
  height: 25vh;
  /* margin-bottom: -20px; */



}

.playheadWrapper {
  position: relative;
}

.wrapper {
  display: flex;

}

.beforeZero {
  position: relative;
  width: 0px;
  /* flex: 0 0 auto; */
 
}

.afterZeroWrapper {
  position: relative;
  height: 5%;
  /* height: 10px; */
  flex: 1;

}

.canvasWrapper {
  color: white;
  font-size: 0.875rem;
  height: 80px;
  position: absolute;
  /* top: 0; */

  width: 100%;



}

.scrollArea1 {
  pointer-events: none;
  height: 10px;
}

.scrollArea2 {
  pointer-events: none;
  width: 10px;
}
