.white {
    color: var(--white);
}

.white svg {
    stroke: #ffffff;
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.element {
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.button {
    width: 100%;
}