.audioItem {
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #33333F;
    color: var(--white);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}

.audioItem img {
    margin-left: 20px;
    margin-right: 20px;
}

/* add audio item icon */
/* add video item icon */
.addVideo {
    margin-left: 92%;
    position: relative;
    z-index: 2;
    /* margin-top: -10px; */
    margin-bottom: -10%;
    cursor: pointer;
    }

    .deleteVideo {
        /* margin-left: 200px; */
        margin-left: 92%;
        /* margin-top: -20%; */
       
        position: relative;
        z-index: 2;
        margin-top: -40px;
        cursor: pointer;
        }